<html ng-app="notesApp">

<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script src="bootstrap.js"></script>
<script src="app.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css"></style>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css"></style>
<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>


<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

<body ng-controller="MainCtrl as ctrl">


<div class="content">
    

  <div class="article-form-container">
    <div class="panel panel-default">

  <form name="add_note_form" ng-submit="addnote(adding_note)">
        <div class="panel-heading">
          <input class="title" type="text" required placeholder="title" size="30" ng-model="adding_note.label" />
          <input class="year" type="text" required placeholder="yyyy-mm-dd" size="10" ng-model="adding_note.year" ng-minlength="10" />
        </div>
        <div class="panel-body">
          <input required placeholder="buyer" ng-model="adding_note.buyer"></input>
          <input class="title" type="text" required placeholder="image url" size="30" ng-model="adding_note.imageurl" />
            {{adding_portfolio.imageurl}}
          </div>
          <input class="btn btn-success" type="submit" value="Contribute" />
      </div>
      </form>
    </div>
  </div>
</div>

      <article ng-repeat-start="note in ctrl.notes" class="article-form-container portfolio-item group first panel panel-default">
          <header class="portfolio-info">
      <div class="title">{{note.label}}</div>
    <span> Who Sold It? {{note.seller}}</div>
    <div> Who Bought It? {{note.buyer}}</div>
    <div>Year of Sale: {{note.year}}</div>
      <div id="numbers">Price: $ {{note.revenue}}</div>
      <div>Proposed height of the tower: {{note.height}} stories</div>
    </header>
    <figure class="note-image">
      <img class="ng-cloak" ng-src="{{ note.imageurl }}" alt="{{ note.title }}">
    </figure>
    </article>
    </div>
  </div>

 <div ng-repeat-end>



  <script src="angular.min.js"></script>

  <script type="text/javascript">
angular.module('notesApp', [])
.controller('MainCtrl', [function() {
  var self = this;
  self.notes = [
  {
    id: 1,
    label : '432 park avenue',
    revenue : 418300000,
    seller : 'Host Marriott Corporation',
    year : 2004
  },

  {
    id: 2,
    buyer: 'Hines, Goldman Sachs and Pontiac Land Group',
    label: '53W53',
    height: '82',
    revenue : 71000000,
    seller : 'St Thomas Church',
    year : 2014
  },

  {
    id: 3,
    buyer : 'Alchemy Properties Inc',
    coords : '@40.772008,-73.955692,17',
    development : 'Isis Condominium',
    height : 18,
    seller : 'Adjacent tenement buildings'
  },
  {
    id: 4,
    // coords : @40.765388,-73.979147,17z,
    development : 'One57',
    height : 90,
    seller : '140 West 58th Street'
  }, 
  {id: 5,
    buyer : 'Donald Trump',
    // coords : @40.752579,-73.967524,17,
    development : 'The Trump World Tower',
    height : 72,
    seller : '140 West 58th Street'}
    ];
  }]);
</script>


</body> 
</html> 

